// Import dependencies
@use 'reset';
@use 'knob';

// Variables
$color-dark: #222;
$color-light: #eee;
$color-black: black;
$color-ivory: ivory;
$color-burlywood: burlywood;
$color-purple: purple;
$spacing-base: 24px;
$border-radius: 5px;
$key-height: 200px;

// Main Styles
body {
    background-color: $color-dark;
    color: $color-light;
    padding: $spacing-base;
}

label {
    display: block;
    color: $color-dark;
}

#keyboard {
    background-color: $color-burlywood;
    border-radius: $border-radius;
}

.manual {
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: $color-black;
}

.key {
    flex: 1;
    height: $key-height;
    background-color: $color-ivory;
    outline: 1px solid $color-dark;
    border-radius: 0 0 $border-radius $border-radius;

    &.flat {
        position: absolute;
        background-color: $color-dark;
    }

    &.playing {
        background-color: $color-purple;
    }
}

.knob {
    @include knob.knob();

    --outline-color: rgba(0, 100, 200, 0.5);
    --outline-width: 3em;
    --drag-duration: 500ms;
    --drag-timing-func: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    --knob-shadow: rgba(0, 0, 0, 0.6);
    --knob-face-gradient: linear-gradient(#f1f1f1, #fff);
    --knob-border-gradient: linear-gradient(#fff 34%, #d1d1d1);
}