/* -- START RESET -- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* -- END RESET -- */

body {
    background-color: #222;
    color: #eee;
    padding: 24px;
}

label {
    display: block;
    color: #222;
}

#keyboard {
    background-color: burlywood;
    border-radius: 5px;
}

.manual {
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: black;
}

.key {
    flex: 1;
    height: 200px;
    background-color: ivory;
    outline: 1px solid #222;
    border-radius: 0 0 5px 5px;
}

.key.flat {
    position: absolute;
    background-color: #222;
}

.key.playing {
    background-color: purple;
}