*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

@keyframes appear {
  to {
    visibility: visible;
  }
}
body {
  background-color: #222;
  color: #eee;
  padding: 24px;
}

label {
  display: block;
  color: #222;
  text-align: center;
}

#keyboard {
  background-color: burlywood;
  border-radius: 5px;
}

.manual {
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: black;
}

.key {
  flex: 1;
  height: 200px;
  background-color: ivory;
  outline: 1px solid #222;
  border-radius: 0 0 5px 5px;
}
.key.flat {
  position: absolute;
  background-color: #222;
}
.key.playing {
  background-color: purple;
}

#control-panel {
  display: flex;
}

.knob, .knob::-webkit-slider-runnable-track, .knob::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}
.knob::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
}
.knob, .knob::-webkit-slider-runnable-track {
  pointer-events: none;
}
.knob, .knob::-moz-range-track, .knob::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}
.knob::-moz-range-progress {
  appearance: none;
  display: none;
}
.knob::-moz-range-track {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.knob {
  font-size: 0.009380863rem;
  --full-angle: 250;
  --start-angle: 55;
  --size: 533;
  --knob-size: 300;
  --knob-tip-size: 9%;
  --knob-pseudo-size: 100;
  --knob-border-width: 1.6%;
  --knob-scale: calc(var(--knob-size) / var(--knob-pseudo-size));
  --calc-size: calc(var(--size) * 1em);
  --calc-knob-size: calc(var(--size) * (var(--knob-size) / 100) * 1em);
  --mapped: calc((var(--value) - var(--min, 0)) / (var(--max, 100) - var(--min, 0)));
  --current-angle: calc(var(--full-angle, 360) * var(--mapped, 0) * 1deg);
  --calc-size-diff: calc(var(--size) - var(--knob-pseudo-size));
  --center: calc(var(--calc-size-diff) * 0.5em);
  --translate: calc((var(--calc-size-diff) * var(--mapped, 0) * -1em) + var(--center));
  --cur-drag: grab;
  --cur-dragging: grabbing;
  width: var(--calc-size);
  height: var(--calc-size);
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 533 533' width='533px' height='533px' xmlns='http://www.w3.org/2000/svg'%3E%3CforeignObject width='100%25' height='100%25'%3E%3Cdiv class='c-o' xmlns='http://www.w3.org/1999/xhtml'%3E%3Cdiv class='c-i'%3E%3C/div%3E%3C/div%3E%3Cstyle%3E.c-o,.c-i{position:absolute;left:0;top:0;right:0;bottom:0}.c-i::before{--s:300px;content:\"\";position:absolute;left:50%25;top:50%25;transform:translate(-50%25,-50%25);width:calc(var(--s) - 2px);height:calc(var(--s) - 2px);border-radius:50%25;box-shadow:0 56px 70px 8px rgba(0,0,0,0.45)}%3C/style%3E%3C/foreignObject%3E%3C/svg%3E");
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  visibility: hidden;
  animation: appear steps(2) 20ms calc(var(--drag-duration) * 2) forwards;
}
.knob::-webkit-slider-thumb {
  width: calc(var(--knob-pseudo-size) * 1em);
  height: calc(var(--knob-pseudo-size) * 1em);
  box-sizing: border-box;
  padding: calc(var(--knob-border-width) / var(--knob-scale));
  border-radius: 50%;
  box-shadow: 0 0 0 0 var(--knob-shadow);
  outline: solid var(--outline-color);
  outline-width: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' width='20px' height='20px' xmlns='http://www.w3.org/2000/svg'%3E%3CforeignObject width='100%25' height='100%25'%3E%3Cdiv class='c-o' xmlns='http://www.w3.org/1999/xhtml'%3E%3Cdiv class=\"c-i\"%3E%3C/div%3E%3C/div%3E%3Cstyle%3E.c-o,.c-i{position:absolute;left:0;top:0;right:0;bottom:0}.c-i{border-radius:50px;background:rgba(40,40,40,1)}%3C/style%3E%3C/foreignObject%3E%3C/svg%3E"), var(--knob-face-gradient), var(--knob-border-gradient);
  background-size: var(--knob-tip-size) var(--knob-tip-size), 100% 100%, 100% 100%;
  background-position: left 50% bottom 10%, 0 0, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box, content-box, border-box;
  background-origin: content-box, border-box, border-box;
  transition-duration: 100ms, 50ms, var(--drag-duration);
  transition-timing-function: ease-out, ease-out, var(--drag-timing-func);
  pointer-events: auto;
  cursor: var(--cur-drag);
  left: var(--translate, 0);
  top: var(--center, 0);
  transform: rotate(calc(var(--start-angle, 0) * 1deg)) rotate(var(--current-angle, 0)) scale(var(--knob-scale));
  transition-property: box-shadow, outline, transform;
}
.knob::-moz-range-thumb {
  width: calc(var(--knob-pseudo-size) * 1em);
  height: calc(var(--knob-pseudo-size) * 1em);
  box-sizing: border-box;
  padding: calc(var(--knob-border-width) / var(--knob-scale));
  border-radius: 50%;
  box-shadow: 0 0 0 0 var(--knob-shadow);
  outline: solid var(--outline-color);
  outline-width: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' width='20px' height='20px' xmlns='http://www.w3.org/2000/svg'%3E%3CforeignObject width='100%25' height='100%25'%3E%3Cdiv class='c-o' xmlns='http://www.w3.org/1999/xhtml'%3E%3Cdiv class=\"c-i\"%3E%3C/div%3E%3C/div%3E%3Cstyle%3E.c-o,.c-i{position:absolute;left:0;top:0;right:0;bottom:0}.c-i{border-radius:50px;background:rgba(40,40,40,1)}%3C/style%3E%3C/foreignObject%3E%3C/svg%3E"), var(--knob-face-gradient), var(--knob-border-gradient);
  background-size: var(--knob-tip-size) var(--knob-tip-size), 100% 100%, 100% 100%;
  background-position: left 50% bottom 10%, 0 0, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box, content-box, border-box;
  background-origin: content-box, border-box, border-box;
  transition-duration: 100ms, 50ms, var(--drag-duration);
  transition-timing-function: ease-out, ease-out, var(--drag-timing-func);
  pointer-events: auto;
  cursor: var(--cur-drag);
  translate: var(--translate, 0) 0;
  scale: var(--knob-scale);
  rotate: calc(var(--start-angle, 0) * 1deg + var(--current-angle, 0));
  transition-property: box-shadow, outline, rotate;
}
.knob:hover::-moz-range-thumb {
  box-shadow: 0 0 7em 0 var(--knob-shadow);
}
.knob:hover::-webkit-slider-thumb {
  box-shadow: 0 0 7em 0 var(--knob-shadow);
}
.knob:active {
  cursor: var(--cur-dragging);
}
.knob::-moz-range-thumb:active {
  cursor: var(--cur-dragging);
}
.knob::-webkit-slider-thumb:active {
  cursor: var(--cur-dragging);
}
.knob:focus-visible {
  outline: none;
}
.knob:focus-visible::-moz-range-thumb {
  outline-width: var(--outline-width);
}
.knob:focus-visible::-webkit-slider-thumb {
  outline-width: var(--outline-width);
}
.knob {
  --outline-color: rgba(0, 100, 200, 0.5);
  --outline-width: 3em;
  --drag-duration: 500ms;
  --drag-timing-func: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  --knob-shadow: rgba(0, 0, 0, 0.6);
  --knob-face-gradient: linear-gradient(#f1f1f1, #fff);
  --knob-border-gradient: linear-gradient(#fff 34%, #d1d1d1);
}
.knob-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.knob-canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
}
.knob-wrapper {
  position: relative;
  width: 5rem;
  height: 5rem;
}
.knob {
  position: relative;
  z-index: 1;
}

/*# sourceMappingURL=main.css.map */
