@use 'sass:map';
@use 'range-reset' as *;
@use 'knob-ui' as *;
@use 'layers' as *;

@mixin knob($size: 533,
    $unit: 0.152vmin,
    $ticks: 100,
    $steps: 10,
    $angles: (full: 250,
        start: 55,
        negative-step: -0.6),
    $geometry: (knob-size: 300,
        knob-pseudo-size: 100,
        knob-tip-size: 9%,
        knob-border-width: 1.6%,
        ticks-radius: 38.5931,
        digits-radius: 45.03726,
        ticks-width: 3,
        ticks-height: 8,
        ticks-step-height: 10,
        alt-dots: 10,
        alt-offset-bottom: 13,
        alt-offset-bottom-text: 12.5,
        alt-offset-center: 18.78,
        alt-offset-center-text: 18.28),
    $colors: (knob-pointer: #282828,
        tick: #a1a1a1,
        step: #585656,
        digits: rgba(40, 40, 40, 0.859),
        alt: #282828,
        shadow-dark: rgba(0, 0, 0, 0.45),
        shadow-light: rgba(255, 255, 255, 0.6)),
    $hints: ("min",
        "max"

    ),
    $cursors: (drag: grab,
        dragging: grabbing)) {
    @include range-reset;

    font-size: $unit;
    --full-angle: #{map.get($angles, "full")};
    --start-angle: #{map.get($angles, "start")};

    --size: #{$size};
    --knob-size: #{map.get($geometry, "knob-size")};
    --knob-tip-size: #{map.get($geometry, "knob-tip-size")};
    --knob-pseudo-size: #{map.get($geometry, "knob-pseudo-size")};
    --knob-border-width: #{map.get($geometry, "knob-border-width")};
    --knob-scale: calc(var(--knob-size) / var(--knob-pseudo-size));

    --calc-size: calc(var(--size) * 1em);
    --calc-knob-size: calc(var(--size) * (var(--knob-size) / 100) * 1em);

    --mapped: calc((var(--value) - var(--min, 0)) / (var(--max, 100) - var(--min, 0)));
    --current-angle: calc(var(--full-angle, 360) * var(--mapped, 0) * 1deg);

    --calc-size-diff: calc(var(--size) - var(--knob-pseudo-size));
    --center: calc(var(--calc-size-diff) * 0.5em);
    --translate: calc((var(--calc-size-diff) * var(--mapped, 0) * -1em) + var(--center));

    --cur-drag: #{map.get($cursors, "drag")};
    --cur-dragging: #{map.get($cursors, "dragging")};

    width: var(--calc-size);
    height: var(--calc-size);
    overflow: hidden;

    background-image: create-shadows($size,
            map.get($geometry, "knob-size"),
            $colors),
        create-alt(520, $colors, $geometry, $hints),
        create-ticks(5260, $ticks, $steps, $angles, $colors, $geometry);
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;

    visibility: hidden;
    animation: appear steps(2) 20ms calc(var(--drag-duration) * 2) forwards;

    @include knob-ui($colors);
}

@keyframes appear {
    to {
        visibility: visible;
    }
}