@use 'sass:map';
@use 'logic' as *;
@use 'svg-utils' as *;

@function create-shadows($size, $knob-size, $colors) {
    $style: '.c-i::before{\
--s:#{$knob-size}px;\
content:"";\
position:absolute;\
left:50%25;top:50%25;\
transform:translate(-50%25,-50%25);\
width:calc(var(--s) - 2px);\
height:calc(var(--s) - 2px);\
border-radius:50%25;\
box-shadow:0 56px 70px 8px #{rgb-color(map.get($colors, "shadow-dark"))}}';

    @return svg-container($size, "%3Cdiv class='c-i'%3E%3C/div%3E", $style);
}