@use 'sass:color';
@use 'sass:math';

@function devide($n, $dn) {
    @return math.div($n, $dn);
}

@function rgb-color($color) {
    $r: color.red($color);
    $g: color.green($color);
    $b: color.blue($color);
    $a: color.alpha($color);

    @return "rgba(#{$r},#{$g},#{$b},#{$a})";
}