@mixin range-reset {

    &,
    &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        position: relative;
        background-color: #0000;
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 100%;
    }

    &,
    &::-webkit-slider-runnable-track {
        pointer-events: none;
    }

    &,
    &::-moz-range-track,
    &::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        position: relative;
        border: 0;
        background-color: #0000;
    }

    &::-moz-range-progress {
        appearance: none;
        display: none;
    }

    &::-moz-range-track {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}