@use 'logic' as *;

@function svg-container($size: 100, $content: null, $inline-styles: null) {
    @return url("data:image/svg+xml,\
%3Csvg viewBox='0 0 #{$size} #{$size}' width='#{$size}px' height='#{$size}px' xmlns='http://www.w3.org/2000/svg'%3E\
%3CforeignObject width='100%25' height='100%25'%3E\
%3Cdiv class='c-o' xmlns='http://www.w3.org/1999/xhtml'%3E\
#{$content}%3C/div%3E%3Cstyle%3E\
.c-o,.c-i{position:absolute;left:0;top:0;right:0;bottom:0}\
#{$inline-styles}%3C/style%3E%3C/foreignObject%3E%3C/svg%3E");
}

@function create-series($n, $class) {
    $series: null;

    @for $i from 0 through $n {
        $series: $series + "<div class='#{$class}' style='--i:#{$i}'></div>";
    }

    @return '<div class="c-i" style="--n:#{$n}">#{$series}</div>';
}